{% extends 'health/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1>Welcome, <a href="{%url 'add_doctor_profile'%}">Dr. {{ doctor.user.username }}</a></h1>

        <!-- Profile Image Section -->
        {% if doctor.profile_image %}
        <div class="my-3">
            <img src="{{ doctor.profile_image.url }}" class="rounded-circle small-profile-img" alt="Profile Image">
        </div>
    {% endif %}
    
    </div>

    <div class="dashboard-grid">
        <!-- Appointments Section -->
        <section class="dashboard-section">
            <h2>Your Appointments</h2>
            <ul class="list-group list-group-flush">
                {% for appointment in appointments %}
                <li class="list-group-item">{{ appointment.date }} {{ appointment.time }} - {{appointment.patient}}: {{appointment.notes}}</li>
                {% empty %}
                <li class="list-group-item">No appointments found.</li>
                {% endfor %}
            </ul>
        </section>

        <!-- Patients Section -->
        <section class="dashboard-section">
            <h2>Your Patients</h2>
            <ul class="list-group list-group-flush">
                {% for patient in patients %}
                <li class="list-group-item">
                    <a href="{% url 'patient_detail' patient.id %}">{{ patient.user.username }}</a>
                </li>
                {% empty %}
                <li class="list-group-item">No patients found.</li>
                {% endfor %}
            </ul>
        </section>

        <!-- Upload Health Record Section -->
        <section class="dashboard-section">
            <h2>Upload Health Record</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-2">Upload Record</button>
            </form>
        </section>
    </div>
</div>
{% endblock %}
