{% extends 'health/base.html' %}

{% block content %}
<div class="container-patient">
    <h1>Welcome, <a href="{%url 'add_patient_profile'%}">{{ user.username }}</a></h1>
    
    {% if patient.profile_image %}
    <div class="d-flex justify-content-center my-3">
        <img src="{{ patient.profile_image.url }}" class="rounded-circle small-profile-img" alt="Profile Image">
    </div>
    {% endif %}

    <div class="dashboard-grid">
        <!-- Medical Records Section -->
        <section class="dashboard-section medical-records">
            <h2>Medical Records</h2>
            <ul>
                {% for record in medical_records %}
                    <li>{{ record.record_date }} - Symptoms: {{ record.symptoms }}</li>
                    <li>Diagnosis: {{ record.diagnosis }} - Prescription: {{ record.prescription }}</li>
                {% endfor %}
            </ul>
        </section>

        <!-- Health Insights Section -->
        <section class="dashboard-section health-insights">
            <h2>Health Insights</h2>
            <ul>
                {% for insight in ai_predictions %}
                    <li>{{ insight.problem_description }} - {{ insight.recommended_doctor }}</li>
                    <p>{{insight.ai_insights}}</p>
                {% endfor %}
            </ul>
        </section>

        <!-- Appointments Section -->
        <section class="dashboard-section appointments">
            <h2>Appointments</h2>
            <ul>
                {% for appointment in appointments %}
                    <li>{{ appointment.date }} with Dr. {{ appointment.doctor }}</li>
                {% endfor %}
            </ul>
            <a class="button-patient" href="{% url 'schedule_appointment' %}">Schedule New Appointment</a>
        </section>

        <!-- Describe Your Problem Section -->
        <section class="dashboard-section describe-problem">
            <h2>Describe Your Problem</h2>
            <form action="{% url 'describe_problem' %}" method="POST">
                {% csrf_token %}
                <textarea name="problem_description" rows="4" cols="50" placeholder="Describe your problem here..."></textarea>
                <br>
                <button type="submit" class="button-patient">Submit Problem</button>
            </form>
        </section>
    </div>
</div>
{% endblock content %}
