{% extends "health/base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5 d-flex justify-content-center">
        <div class="text-center">
            <h2 class="mb-4">Schedule a New Appointment</h2>
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p|safe }}
                </div>
                <button type="submit" class="btn btn-primary">Schedule Appointment</button>
            </form>
        </div>
    </div>
{% endblock %}
